In [9]:
import pandas as pd
import numpy as np
from sklearn import tree
df = pd.read_csv('PrepData.csv')
df.head()

,NAME,PERCENTAGE,BACKLOG,INTERNSHIP,FIRSTROUND,COMMUNICATIONSKILLLS,Hired
0,Apaar Gupta,99,0,3,90,100,1
1,Aastha Khanna,92,0,3,68,80,1
2,Yogita Rana,84,3,2,69,80,1
3,Kush,67,2,2,23,60,0
4,Pulkit Mittal,57,0,2,78,60,0

In [10]:
features = list(df.columns[1:6])
features

['PERCENTAGE', 'BACKLOG', 'INTERNSHIP', 'FIRSTROUND', 'COMMUNICATIONSKILLLS']

In [13]:
y = df['Hired']
X = df[features]
clf = tree.DecisionTreeClassifier()
clf = clf.fit(X,y)
print(clf.predict([[90,1,2,80,90]]))

[1]

In [12]:
from sklearn.ensemble import RandomForestClassifier

clf2 = RandomForestClassifier(n_estimators=10) # 10 bar calculate krega
clf2 = clf2.fit(X,y)

In [14]:
print(clf2.predict([[90,1,2,80,90]]))

[1]